.question-item {
    padding: 20px;
    border: 2px solid black;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.answer {
    border-radius: 4px;
    padding: 20px 15px 15px;
    margin-top: 10px;
}

.question-avatar img {
    height: 120px;
    width: 120px;
    border: 2px solid #000000;
    object-fit: cover;
}

.user-avatar-nav {
    height: 70px;
    width: 70px;
    border: 1px solid gray;
    object-fit: cover;
}

.answer-text {
    margin-left: 10px;
}

.correct-text {
    margin-left: 5px;
}

.form-control {
    margin-left: 10px;
}

.page-link:hover {
    z-index: 2;
    color: white;
    background-color: black;
}

.page-link {
    background-color: rgb(236, 232, 225);
    border-color: black;
}

/* QUESTION */

.answer-avatar img {
    height: 120px;
    width: 120px;
    object-fit: cover;
}