{% load static %}

<div class="answer mt-4 col-11">
    <div class="answer-body row">
        <div class="answer-left col-2">
            <div class="answer-avatar">
                <img src="{% static "img/user.jpg" %}" class="rounded avatar-img"
                     alt="user avatar">
            </div>
            <div class="col-12 mt-3">
                <div class="btn-group d-flex justify-content-between" role="group" aria-label="Rating">
                    <div class="">
                        <button type="button" class="btn-minus btn btn-outline-dark btn-sm">-</button>
                    </div>
                    <div class="">
                        1024
                    </div>
                    <div class="">
                        <button type="button" class="btn-plus btn btn-outline-dark btn-sm">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="answer-right col-9">
            <div class="answer-right-text">
                <p>{{ answer }}</p>
            </div>
            <div class="answer-right-footer">
                <input class="form-check-input" type="checkbox" value="" id="CorrectFirst" disabled>
                <label class="correct-text" for="CorrectFirst">
                    <b>Correct!</b>
                </label>
            </div>
        </div>
    </div>
</div>