<div class="pagination mt-4">
    <nav aria-label="Page pagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link link-dark" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="visually-hidden">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link link-dark" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link link-dark" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link link-dark" href="?page=3">3</a></li>
            <li class="page-item"><a class="page-link link-dark" href="?page=4">4</a></li>
            <li class="page-item"><a class="page-link link-dark" href="?page=5">5</a></li>
            <li class="page-item"><a class="page-link link-dark" href="?page=">...</a></li>
            <li class="page-item"><a class="page-link link-dark" href="?page=53">53</a></li>
            <li class="page-item">
                <a class="page-link link-dark" href="?page=10000" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="visually-hidden">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>