{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}


{% block info-user %}
    {% if user_data %}
        {% include "inc/is_authorized_user.html" %}
    {% else %}
        {% include "inc/not_authorized_user.html" %}
    {% endif %}
{% endblock %}


{% block content %}
  <div class="question" style="border: 2px; height: auto">
  <div class="row">
    <div class="col-3">
      <div class="question-avatar">
        <img src="{{ question.author.avatar.url }}" alt="avatar">
      </div>

      {% include "inc/valuation.html" %}

    </div>
    <div class="col-8">
      <h2> {{ question.title }} </h2>
      <div>
          {{ question.text }}
      </div>
      <div style="margin-top: 15px">
        Tags
        {% for tag in question.tags.all %} <a href="{% url 'tag' tag %}">{{ tag }}</a> {% endfor %}
      </div>
    </div>
  </div>
  </div>

  <hr class="my-4">

  <!--          ответы -->
  
  {% for answer in page_obj %}
    {% include "inc/answer_item.html" %}
  {% endfor %}

  {% include "inc/paginator.html" %}

  <!-- add answer-->
  <hr class="my-4">

  <form method="post" action="#" style="margin-bottom: 10px" name="question">
    {% csrf_token %}
    {% bootstrap_form form %}
<!--    <textarea class="form-control me-2" type="search" rows="8" name="answer" style="resize: none; width: 100%; margin-bottom: 20px" placeholder="Enter your answer here..."></textarea>-->
    <button class="btn btn-outline-success" type="submit">Answer</button>
  </form>

{% endblock %}
