{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block info-user %}
  {% include "inc/is_authorized_user.html" %}
{% endblock %}

{% block first-row %}
  <h1 class="mt-5">Settings: {{ user_data.name }}</h1>
{% endblock %}

{% block content %}
<div>
  <form method="post" action="{% url 'settings' %}" enctype="multipart/form-data" name="settings">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="row pole">
      <div class="col-3"></div>
      <div class="col-5">
        <button class="btn btn-outline-success" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}