.round-button-up {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000; 
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s;
}

.round-button-up:hover {
    background-color: #32CD32; 
}

.round-button-up::before {
    content: '\2191'; 
    font-size: 24px; 
}

.round-button-down {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff; 
    color: #000; 
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s;
}

.round-button-down:hover {
    background-color: #d73a3a; 
}

.round-button-down::before {
    content: '\2193'; 
    font-size: 24px; 
}

.round-button-mark {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff; 
    color: #000; 
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s;
}
    
.round-button-mark:hover {
    background-color: #d3d3d3; 
}
    
.round-button-mark::before {
    content: '\002B'; 
    font-size: 24px; 
}