<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" 
              content="IE=edge">

        <title>base</title>

        <meta name="viewport" 
              content="width=device-width, initial-scale=1">

        <link rel="stylesheet" 
              type="text/css" 
              href="../static/css/bootstrap.css">
    </head>
    <body>
        <header class="py-3 mb-3 border-bottom bg-light">
            <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
                
                <div class="d-flex align-items-center">
                    <a href="#"  class="h2 nav col-6 d-block link-body-emphasis text-decoration-none ms-2">
                        QuestFlow
                    </a>
                    <a href="#"  class="h6 nav col-6 d-block link-body-emphasis text-decoration-none ms-3">
                        New Questions
                    </a>
                </div>

                <div class="d-flex align-items-center">
                    <form class="w-100 me-3" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src= "../images/user.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item" href="#">New question</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main class="flex-shrink-0">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="d-flex justify-content-between border-bottom">
                            <p class="h4 nav col-4">Top Questions</p>
                            <button type="button" class="btn btn-primary m-1 p-1">Write Question</button>
                        </div>
                        
                        <div class="d-flex flex-row mt-4 border-bottom">
                                <div class="col-2 m">
                                    <ul class="list-unstyled">
                                        <li class="list-group-item justify-content-between align-items-center">
                                          votes
                                          <span class="badge bg-primary rounded-pill mt-1">14</span>
                                        </li>
                                        <li class="list-group-item justify-content-between align-items-center mt-1">
                                          answers
                                          <span class="badge bg-primary rounded-pill">2</span>
                                        </li>
                                        <li class="list-group-item justify-content-between align-items-center mt-1">
                                          views
                                          <span class="badge bg-primary rounded-pill">1</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-7">
                                    <a href="#"  class="d-block link-body-emphasis text-decoration-none ms-2 ">
                                        CSS animations not running on IOS
                                    </a>
                                    <button type="button" class="btn btn-outline-primary m-1 p-1">Swift</button>
                                    <button type="button" class="btn btn-outline-primary m-1 p-1">CSS</button>
                                </div>

                                <div class="col-3 d-flex align-items-center">
                                    <img src="../images/user.jpg" alt="mdo" width="24" height="24" class="rounded-circle">
                                    <a href="#" class="d-block link-body-emphasis text-decoration-none small ms-2">MK126</a>
                                    <p class="small ms-2 mt-3">answered</p>
                                </div>
                                
                        </div>

                        <div class="d-flex flex-row mt-4 border-bottom">
                            <div class="col-2 m">
                                <ul class="list-unstyled">
                                    <li class="list-group-item justify-content-between align-items-center">
                                      votes
                                      <span class="badge bg-primary rounded-pill mt-1">3</span>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center mt-1">
                                      answers
                                      <span class="badge bg-primary rounded-pill">7</span>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center mt-1">
                                      views
                                      <span class="badge bg-primary rounded-pill">15</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-7">
                                <a href="#"  class="d-block link-body-emphasis text-decoration-none ms-2 ">
                                    Fastest way to count elements of PostgreSQL table
                                </a>
                                <button type="button" class="btn btn-outline-primary m-1 p-1">SQL</button>
                            </div>

                            <div class="col-3 d-flex align-items-center">
                                <img src="../images/user.jpg" alt="mdo" width="24" height="24" class="rounded-circle">
                                <a href="#" class="d-block link-body-emphasis text-decoration-none small ms-2">X</a>
                                <p class="small ms-2 mt-3">asked</p>
                            </div>
                            
                    </div>

                    <div class="d-flex flex-row mt-4 border-bottom">
                        <div class="col-2 m">
                            <ul class="list-unstyled">
                                <li class="list-group-item justify-content-between align-items-center">
                                  votes
                                  <span class="badge bg-primary rounded-pill mt-1">9</span>
                                </li>
                                <li class="list-group-item justify-content-between align-items-center mt-1">
                                  answers
                                  <span class="badge bg-primary rounded-pill">5</span>
                                </li>
                                <li class="list-group-item justify-content-between align-items-center mt-1">
                                  views
                                  <span class="badge bg-primary rounded-pill">27</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-7">
                            <a href="#"  class="d-block link-body-emphasis text-decoration-none ms-2 ">
                                 Dependent name in local class
                            </a>
                            <button type="button" class="btn btn-outline-primary m-1 p-1">C++</button>
                        </div>

                        <div class="col-3 d-flex align-items-center">
                            <img src="../images/user.jpg" alt="mdo" width="24" height="24" class="rounded-circle">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none small ms-2">Vermichel</a>
                            <p class="small ms-2 mt-3">modified</p>
                        </div>
                        
                </div>

                <div class="d-flex flex-row mt-4 border-bottom">
                    <div class="col-2 m">
                        <ul class="list-unstyled">
                            <li class="list-group-item justify-content-between align-items-center">
                              votes
                              <span class="badge bg-primary rounded-pill mt-1">129</span>
                            </li>
                            <li class="list-group-item justify-content-between align-items-center mt-1">
                              answers
                              <span class="badge bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item justify-content-between align-items-center mt-1">
                              views
                              <span class="badge bg-primary rounded-pill">1147</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-7">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none ms-2 ">
                            What happened with Apple?
                        </a>
                        <button type="button" class="btn btn-outline-primary m-1 p-1">Swift</button>
                    </div>

                    <div class="col-3 d-flex align-items-center">
                        <img src="../images/user.jpg" alt="mdo" width="24" height="24" class="rounded-circle">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none small ms-2">Tim Cook</a>
                        <p class="small ms-2 mt-3">answered</p>
                    </div>
                    
            </div>

            <div class="d-flex flex-row mt-4 border-bottom">
                <div class="col-2 m">
                    <ul class="list-unstyled">
                        <li class="list-group-item justify-content-between align-items-center">
                          votes
                          <span class="badge bg-primary rounded-pill mt-1">2</span>
                        </li>
                        <li class="list-group-item justify-content-between align-items-center mt-1">
                          answers
                          <span class="badge bg-primary rounded-pill">12</span>
                        </li>
                        <li class="list-group-item justify-content-between align-items-center mt-1">
                          views
                          <span class="badge bg-primary rounded-pill">17</span>
                        </li>
                    </ul>
                </div>

                <div class="col-7">
                    <a href="#"  class="d-block link-body-emphasis text-decoration-none ms-2 ">
                        @ is not a parameter for procedure
                    </a>
                    <button type="button" class="btn btn-outline-primary m-1 p-1">SQL</button>
                    <button type="button" class="btn btn-outline-primary m-1 p-1">Python</button>
                </div>

                <div class="col-3 d-flex align-items-center">
                    <img src="../images/user.jpg" alt="mdo" width="24" height="24" class="rounded-circle">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none small ms-2">_tankist689_</a>
                    <p class="small ms-2 mt-3">asked</p>
                </div>
        </div>
                        
                    </div>
        
                    <div class="col-4">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="bg-light">Tags</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary m-1 p-1">Swift</button>
                                        <button type="button" class="btn btn-primary m-1 p-1">C++</button>
                                        <button type="button" class="btn btn-secondary m-1 p-1">JavaScript</button>
                                        <button type="button" class="btn btn-success m-1 p-1">SQL</button>
                                        <button type="button" class="btn btn-danger m-1 p-1">Assembly</button>
                                        <button type="button" class="btn btn-warning m-1 p-1">Python</button>
                                        <button type="button" class="btn btn-info m-1 p-1">Git</button>
                                        <button type="button" class="btn btn-light m-1 p-1">Java</button>
                                        <button type="button" class="btn btn-dark m-1 p-1">CSS</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
        
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="bg-light">Filters</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn text-primary m-1 p-1">Create filter</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
        
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="bg-light">Activity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">MK126</li>
                                            <li class="list-group-item">Vermichel</li>
                                            <li class="list-group-item">_tankist689_</li>
                                            <li class="list-group-item">Tim Cook</li>
                                            <li class="list-group-item">X</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="bg-dark text-light fixed-bottom d-flex flex-wrap align-items-center py-3 border-top" style="grid-template-columns: 1fr 2fr;">
              <p class="col-md-4 mb-0 text-white p-2"> 2023 Mikhail Khristokyan</p>
          
              <p class=" h4 col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto "> QuestFlow</p>
          
              <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
              </ul>
        </footer>
          
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <!-- <script src="static/js/bootstrap.min.js"></script>  -->
    </body>
</html>