<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>index</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    </head>

    <body class="text-center">
        <header class="py-3 mb-3 border-bottom bg-light">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a href="#"  class="h2 nav col-6 d-block link-body-emphasis text-decoration-none ms-2">
                        QuestFlow
                    </a>
                    <a href="#"  class="h6 nav col-6 d-block link-body-emphasis text-decoration-none ms-3">
                        New Questions
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <form class="me-3" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    <button class="btn btn-primary me-2">Sign up</button>
                    <button class="btn btn-outline-primary">Log in</button>
                </div>
            </div>
        </header>

        <main class="container ">
            <form style="max-width: 400px; margin: 0 auto;">
                <h1 class="h3 mb-3 fw-normal">Please log in</h1>
                <div>
                    <p class="text-danger" style="font-weight: bold;"> Invalid email! </p>
                </div>
                
                <div class="form-floating mt-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mt-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                
                
                <button class="btn btn-primary btn-lg mt-4" type="submit">Log in</button>

                <div class="d-flex align-items-center justify-content-center mt-4">
                    <p class="mt-2 mb-3 text-muted">Don’t have an account?</p>
                    <p class="mt-2 mb-3 ms-3"><a href="#" class="nav link-body-emphasis text-decoration-none text-primary">Sign up</a></p>
                </div>
                <p class="mt-5 mb-3 text-muted">2023 Andrey Izibaev</p>
            </form>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+UJ+15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>